* {
  margin: 0px;
  padding: 0px;
}

body{
background-color: #000000;

}

body:active {
  overflow-y: scroll;
}

.nev {
  width: 100%;
  height: 14.5vh;
  background-color: black;
  z-index: 100;
}

.logo1 {
  position: absolute;
  width: 165px;
  top: 8px;
  left: 105px;
}

ul {
  position: absolute;

  top: 40px;
  right: 435px;
}

ul li {
  display: inline-block;
}

ul a {
  color: white;
  margin-left: 30px;
  text-decoration: none;
  font-family: sans-serif;
  transition: ease-in-out 0.2s;
}

ul a:hover {
  color: red;
}

.btn1 {
  position: absolute;
  right: 263px;
  top: 20px;
  padding: 18px 17px;
  border-radius: 40px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.3s;
}

.btn1:active {
  background-color: red;
  color: white;
}

.mainbtn {
  position: absolute;
  padding-left: 15px;
  font-size: 14px;
  background-color: #ed1c24;
  border-radius: 40px;
  width: 132px;
  height: 8.4vh;
  color: white;
  right: 104px;
  top: 19px;
  border: none;
  cursor: pointer;
}

.mainbtn > span {
  font-family: apercu;
  font-size: 1x;
  position: absolute;
  /* background-color: #fff; */
  color: white;
  border-radius: 0px;
  margin-top: 14px;
}

.mainbtn > span > button {
  font-size: 14px;
  background-color: #fff;
  color: #dc3545;
  padding: 7px 8px;
  border-radius: 23px;
  margin-left: 7px;
  border: none;
}

#main {
  background-color: black;
  width: 100%;
  height: 3000px;
  position: relative;
}

.img1 {
  background-color: #dc3545;
  width: 100%;
  height: 86vh;
}

.img1 img {
  width: 100%;
  height: 86vh;
  /* margin-top: 95px; */
}

#section1 {
  position: relative;
  background-color: black;
  width: 100%;
  height: 97vh;
  /* top: 75px; */
}

.section1-text-cards {
  position: absolute;
  width: 100%;
  height: 90%;
  /* margin-top: 100px; */
  /* background-color: red; */
  /* left: 100px; */
}

@font-face {
  font-family: "futurak";
  src: url(Fonts/futurak.ttf);
}

.text1 {
  margin-top: 75px;
}

@font-face {
  font-family: "apercu";
  src: url(Fonts/Apercu/Apercu\ Pro\ Light.otf);
}

.text1 p {
  color: white;
  text-align: center;
  font-family: apercu;
  font-size: 40px;
  line-height: 53px;
  font-weight: 400;
}

.text1 p::first-line {
  font-size: 40px;
}

.text1span {
  font-family: futurak;
  font-size: 52px;
}

.label {
  margin-left: 355px;
  font-size: 17px;
  line-height: 31px;
  font-family: apercu;
  color: rgb(168 179 179);
}

.cardmain {
  /* position: absolute; */
  width: 60%;
  margin: 22px auto;
  display: flex;
  height: 230px;
  margin-top: 33px;
  background-color: black;
}
.card {
  width: 32%;
  height: 220px;
  margin-left: 30px;
}
.card > div {
  background-color: white;
  height: 139px;
  border-radius: 2px;
}

.card > div > a > img {
  width: 212px;
  margin-top: 25.9px;
  margin-left: 19px;
}
.card > button {
  color: white;
  border: 1px solid #4d4d4d;
  width: 175px;
  height: 50px;
  border-radius: 40px;
  background-color: transparent;
  margin: 25px auto;
  margin-left: 37px;
  cursor: pointer;
}

.card > button:active {
  background-color: transparent !important;
  box-shadow: 0 0 0 6px rgba(9, 43, 78, 0.7);
}

#section2 {
  width: 100%;
  height: 206.5vh;
  position: relative;
  background-color: #0f0f0f;
  text-align: center;
}

@font-face {
  font-family: butler;
  src: url(Fonts/Butler/Butler-Bold.woff2);
}

.backgroundimg img {
  position: absolute;
  right: 33px;
  top: 35px;
}

.text2 {
  color: white;
  position: absolute;
  width: 100%;
  height: 30vh;
  margin: 70px auto;
}

.text2 > span {
  font-family: futurak;
  font-size: 52px;
}

.text2 > p {
  font-family: butler;
  font-size: 54px;
}

.text2 > label {
  font-size: 17px;
  line-height: 33px;
  font-family: apercu;
  color: rgb(168 179 179);
}

.textimgmain {
  /* background-color: red; */
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  top: 270px;
}

.main3 {
  text-align: justify;
  position: absolute;
  /* background-color: white; */
  width: 40%;
  height: 100%;
  bottom: 50px;
  left: 93px;
  top: 0px;
}

.main3text {
  /* background-color: blue; */
  width: 90%;
  height: 90%;
  position: absolute;
  left: 27px;
  top: 20px;
}

.main3text > p {
  font-family: "apercu";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48em;
  color: #ed1c24;
  margin-top: -23px;
}

.card > button:active {
  background-color: red;
}

.main3text > label {
  font-family: futurak;
  font-size: 32px;
  color: white;
  line-height: 55px;
}

.label2 {
  font-family: apercu;
}

.address {
  color: rgb(183 183 183);
  font-size: 16px;
  margin-top: 15px;
  /* background-color:black; */
}

.address > div {
  position: absolute;
  font-family: apercu;
  color: rgb(183 183 183);
  padding-left: 8px;
  font-size: 17px;
  margin-left: 10px;
}

.ph1 {
  position: relative;
  padding: 18px;
  margin-left: 2px;
}

.ph1 > a {
  position: absolute;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  margin-top: 20px;
}

.fa-phone {
  position: absolute;
  margin-left: -23px;
  transform: rotate(90deg);
  margin-top: -2px;
}

@font-face {
  font-family: poopins;
  src: url(Fonts/Poopins/Poppins-Medium.ttf);
}

.getbtn {
  position: relative;
  padding-left: 15px 15px;
  background-color: transparent;
  border-radius: 40px;
  width: 174px;
  height: 50px;
  color: white;
  /* left: 5px; */
  top: 68px;
  cursor: pointer;
  border: 1px solid #575757;
}

.getbtn:active {
  /* background-color: transparent !important; */
  box-shadow: 0 0 0 6px rgba(9, 43, 78, 0.7);
}

.getbtn > span {
  width: 100%;
  height: 100%;
  font-family: poopins;
  font-size: 14px;
  position: absolute;
  color: white;
  border-radius: 35px;
  border: 1px solid #575757;
  padding-top: 10px;
  text-align: center;
  border: none;
  font-weight: 500;
}

.getbtn > span > button {
  font-size: 14px;
  background-color: #fff;
  color: #dc3545;
  padding: 7px 8px;
  border-radius: 23px;
  margin-left: 10px;
  border: none;
}

.main3img {
  position: absolute;
  right: 120px;
}
.main3img > img {
  width: 540px;
}

.textimgmain2 {
  /* background-color: red; */
  position: relative;
  width: 100%;
  height: 300px;
  top: 313px;
}

.main4 {
  text-align: justify;
  position: absolute;
  /* background-color: white; */
  width: 40%;
  height: 100%;
  bottom: 50px;
  right: 93px;
  top: 0px;
}

.main4text {
  /* background-color: blue; */
  width: 90%;
  height: 90%;
  position: absolute;
  right: 80px;
  top: 22px;
}

.main4text > p {
  font-family: "apercu";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48em;
  color: #ed1c24;
  margin-top: -23px;
}

.main4text > label {
  font-family: futurak;
  font-size: 32px;
  color: white;
  line-height: 55px;
}

.label4 {
  font-family: apercu;
}

.address4 {
  color: rgb(183 183 183);
  font-size: 16px;
  margin-top: 15px;
  /* background-color:black; */
}

.address4 > div {
  position: absolute;
  font-family: apercu;
  color: rgb(183 183 183);
  padding-left: 8px;
  font-size: 17px;
  margin-left: 10px;
}

.ph4 {
  position: relative;
  padding: 18px;
  margin-left: 2px;
}

.ph4 > a {
  position: absolute;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  margin-top: 20px;
}

@font-face {
  font-family: poopins;
  src: url(Fonts/Poopins/Poppins-Medium.ttf);
}

.getbtn4 {
  position: relative;
  padding-left: 15px 15px;
  background-color: transparent;
  border-radius: 40px;
  width: 174px;
  height: 50px;
  color: white;
  right: 25px;
  top: 188px;
  cursor: pointer;
  border: 1px solid #575757;
}

.getbtn4:active {
  /* background-color: transparent !important; */
  box-shadow: 0 0 0 6px rgba(9, 43, 78, 0.7);
}

.getbtn4 > span {
  width: 100%;
  height: 100%;
  font-family: poopins;
  font-size: 14px;
  position: absolute;
  color: white;
  border-radius: 35px;
  border: 1px solid #575757;
  padding-top: 10px;
  text-align: center;
  border: none;
  font-weight: 500;
}

.getbtn4 > span > button {
  font-size: 14px;
  background-color: #fff;
  color: #dc3545;
  padding: 7px 8px;
  border-radius: 23px;
  margin-left: 10px;
  border: none;
}

.main4img {
  position: absolute;
  left: 120px;
}
.main4img > img {
  width: 540px;
}

.textimgmain3 {
  /* background-color: red; */
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  top: 358px;
}

.main5 {
  text-align: justify;
  position: absolute;
  /* background-color: white; */
  width: 40%;
  height: 100%;
  bottom: 50px;
  left: 93px;
  top: 0px;
}

.main5text {
  /* background-color: blue; */
  width: 90%;
  height: 90%;
  position: absolute;
  left: 27px;
  top: 20px;
}

.main5text > p {
  font-family: "apercu";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48em;
  color: #ed1c24;
  margin-top: -23px;
}

.main5text > label {
  font-family: futurak;
  font-size: 32px;
  color: white;
  line-height: 55px;
}

.label5 {
  font-family: apercu;
}

.address5 {
  color: rgb(183 183 183);
  font-size: 16px;
  margin-top: 15px;
  /* background-color:black; */
}

.address5 > div {
  position: absolute;
  font-family: apercu;
  color: rgb(183 183 183);
  padding-left: 8px;
  font-size: 17px;
  margin-left: 10px;
}

.ph5 {
  position: relative;
  padding: 18px;
  margin-left: 2px;
}

.ph5 > a {
  position: absolute;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  margin-top: 20px;
}

.getbtn5 {
  position: relative;
  /* background-color: red !important; */
  padding-left: 15px 15px;
  background-color: transparent;
  border-radius: 40px;
  width: 172px;
  height: 48px;
  /* color: white; */
  left: 27px;
  top: 185px;
  cursor: pointer;
  border: 1px solid #575757;
  cursor: pointer;
}

.getbtn5:active {
  /* background-color: transparent !important; */
  box-shadow: 0 0 0 6px rgba(9, 43, 78, 0.7);
}

.getbtn5 > a > button {
  position: absolute;
  /* background-color: #dc3545 !important; */
  width: auto;
  height: 100%;
  font-family: poopins;
  font-size: 14px;
  position: absolute;
  color: white;
  border-radius: 35px;
  border: 1px solid #575757;
  padding: 15px 5px;
  text-align: center;
  border: none;
  font-weight: 500;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
}

.getbtn5 > i {
  position: absolute;
  font-size: 14px;
  background-color: #fff;
  color: #dc3545;
  padding: 7px 8px;
  border-radius: 23px;
  margin-top: 10px;
  border: none;
  right: 20px;
}

.main5img {
  position: absolute;
  right: 120px;
}

.main5img > img {
  width: 540px;
}

#section3 {
  position: relative;
  width: 100%;
  height: 200vh;
  background-color: black;
  /* text-align: center; */
}

.section3img {
  position: absolute;
  margin: 40px 33px;
}

.expressdata {
  width: 86.7%;
  height: 80%;
  left: 90px;
  position: absolute;
  color: white;
  /* background-color: yellowgreen !important; */
}

.expresstext {
  text-align: center;
  /* background-color: black; */
  position: absolute;
  width: 100%;
  height: 20vh;
  margin: 71.5px auto;
}

.expresstext > span {
  font-family: "futurak";
  font-size: 52px;
}

.expresstext > p {
  font-size: 53px;
  font-family: butler;
  transform: scale(0.9, 0.9);
}

.boxesrow1 {
  width: 100%;
  height: 515px;
  position: relative;
  display: flex;
  top: 220px;
  background-color: black;
}

.box1 {
  /* background-color: chocolate; */
  width: 353px;
  height: 100%;
  margin-left: 30px;
}

.box1 > img {
  width: 350px;
  margin-top: 4.8px;
  border-radius: 6px;
}

.box1 > label {
  font-family: "apercu";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-left: -2px;
}

.box1 > h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
  font-family: "apercu";
  margin-left: -4px;
}

.box1 > p {
  position: relative;
  margin-left: -3px;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 37px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 12px;
  text-align: center;
  display: block;
}

.box1nubr {
  position: relative;
  margin-top: -20px;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
}

.box1nubr > a {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  /* margin-bottom: 12px; */
  text-decoration: none;
}

.box1nubr > a > i {
  transform: rotate(90deg);
  /* margin-left: -4px;
  margin-right: 2px; */
  margin-top: 10px;
}

.box1btn {
  position: relative;
  padding-left: 15px 15px;
  background-color: transparent;
  border-radius: 40px;
  width: 172px;
  height: 48px;
  left: 90px;
  top: 10px;
  cursor: pointer;
  border: 1px solid #575757;
  cursor: pointer;
}

.box1btn:active {
  box-shadow: 0 0 0 6px rgba(9, 43, 78, 0.7);
}

.box1btn > a > button {
  /* position: absolute; */
  width: auto;
  height: 100%;
  font-family: poopins;
  font-size: 14px;
  color: white;
  padding: 15px 5px;
  border: none;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
}

.box1btn > i {
  /* position: absolute; */
  font-size: 14px;
  background-color: #fff;
  color: #dc3545;
  padding: 7px 8px;
  border-radius: 23px;
  margin-top: 10px;
  border: none;
  right: 20px;
  transform: rotate(-37deg);
}

.box2 {
  /* background-color: chocolate; */
  width: 353px;
  height: 100%;
  margin-left: 27px;
}

.box2 > img {
  width: 350px;
  margin-top: 4.8px;
  border-radius: 6px;
}

.box2 > label {
  font-family: "apercu";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-left: -2px;
}

.box2 > h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
  font-family: "apercu";
  margin-left: -4px;
}

.box2 > p {
  position: relative;
  margin-left: -3px;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 37px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 12px;
  text-align: center;
  display: block;
}

.box2nubr {
  position: relative;
  margin-top: -20px;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
}

.box2nubr > a {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  /* margin-bottom: 12px; */
  text-decoration: none;
}

.box2nubr > a > i {
  transform: rotate(90deg);
  /* margin-left: -4px;
  margin-right: 2px; */
  margin-top: 10px;
}

.box2btn {
  position: relative;
  padding-left: 15px 15px;
  background-color: transparent;
  border-radius: 40px;
  width: 172px;
  height: 48px;
  left: 90px;
  top: 10px;
  cursor: pointer;
  border: 1px solid #575757;
  cursor: pointer;
}

.box2btn:active {
  box-shadow: 0 0 0 6px rgba(9, 43, 78, 0.7);
}

.box2btn > a > button {
  /* position: absolute; */
  width: auto;
  height: 100%;
  font-family: poopins;
  font-size: 14px;
  color: white;
  padding: 15px 5px;
  border: none;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
}

.box2btn > i {
  /* position: absolute; */
  font-size: 14px;
  background-color: #fff;
  color: #dc3545;
  padding: 7px 8px;
  border-radius: 23px;
  margin-top: 10px;
  border: none;
  right: 20px;
  transform: rotate(-37deg);
}

.box3 {
  /* background-color: chocolate; */
  width: 353px;
  height: 100%;
  margin-left: 27px;
}

.box3 > img {
  width: 350px;
  margin-top: 4.8px;
  border-radius: 6px;
}

.box3 > label {
  font-family: "apercu";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-left: -2px;
}

.box3 > h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
  font-family: "apercu";
  margin-left: -4px;
}

.box3 > p {
  position: relative;
  margin-left: -3px;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 37px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 12px;
  text-align: center;
  display: block;
}

.box3nubr {
  position: relative;
  margin-top: -20px;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
}

.box3nubr > a {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  /* margin-bottom: 12px; */
  text-decoration: none;
}

.box3nubr > a > i {
  transform: rotate(90deg);
  /* margin-left: -4px;
  margin-right: 2px; */
  margin-top: 10px;
}

.box3btn {
  position: relative;
  padding-left: 15px 15px;
  background-color: transparent;
  border-radius: 40px;
  width: 172px;
  height: 48px;
  left: 90px;
  top: 10px;
  cursor: pointer;
  border: 1px solid #575757;
  cursor: pointer;
}

.box3btn:active {
  box-shadow: 0 0 0 6px rgba(9, 43, 78, 0.7);
}

.box3btn > a > button {
  /* position: absolute; */
  width: auto;
  height: 100%;
  font-family: poopins;
  font-size: 14px;
  color: white;
  padding: 15px 5px;
  border: none;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
}

.box3btn > i {
  /* position: absolute; */
  font-size: 14px;
  background-color: #fff;
  color: #dc3545;
  padding: 7px 8px;
  border-radius: 23px;
  margin-top: 10px;
  border: none;
  right: 20px;
  transform: rotate(-37deg);
}

.redimg {
  position: absolute;
  right: -85px;
  margin-top: -80px;
}

.boxesrow2 {
  width: 100%;
  height: 515px;
  position: relative;
  display: flex;
  top: 220px;
  /* background-color: black; */
}

.box4 {
  /* background-color: chocolate; */
  width: 353px;
  height: 100%;
  margin-left: 30px;
}

.box4 > img {
  width: 350px;
  margin-top: 4.8px;
  border-radius: 6px;
}

.box4 > label {
  font-family: "apercu";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-left: -2px;
}

.box4 > h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
  font-family: "apercu";
  margin-left: -4px;
}

.box4 > p {
  position: relative;
  margin-left: -3px;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 37px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 12px;
  text-align: center;
  display: block;
}

.box4nubr {
  position: relative;
  margin-top: -20px;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
}

.box4nubr > a {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  /* margin-bottom: 12px; */
  text-decoration: none;
}

.box4nubr > a > i {
  transform: rotate(90deg);
  /* margin-left: -4px;
  margin-right: 2px; */
  margin-top: 10px;
}

.box4btn {
  position: relative;
  padding-left: 15px 15px;
  background-color: transparent;
  border-radius: 40px;
  width: 172px;
  height: 48px;
  left: 90px;
  top: 10px;
  cursor: pointer;
  border: 1px solid #575757;
  cursor: pointer;
}

.box4btn:active {
  box-shadow: 0 0 0 6px rgba(9, 43, 78, 0.7);
}

.box4btn > a > button {
  /* position: absolute; */
  width: auto;
  height: 100%;
  font-family: poopins;
  font-size: 14px;
  color: white;
  padding: 15px 5px;
  border: none;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
}

.box4btn > i {
  /* position: absolute; */
  font-size: 14px;
  background-color: #fff;
  color: #dc3545;
  padding: 7px 8px;
  border-radius: 23px;
  margin-top: 10px;
  border: none;
  right: 20px;
  transform: rotate(-37deg);
}

.box5 {
  /* background-color: chocolate; */
  width: 353px;
  height: 100%;
  margin-left: 27px;
}

.box5 > img {
  width: 350px;
  margin-top: 4.8px;
  border-radius: 6px;
}

.box5 > label {
  font-family: "apercu";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-left: -2px;
}

.box5 > h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
  font-family: "apercu";
  margin-left: -4px;
}

.box5 > p {
  position: relative;
  margin-left: -3px;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 37px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 12px;
  text-align: center;
  display: block;
}

.box5nubr {
  position: relative;
  margin-top: -20px;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
}

.box5nubr > a {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  /* margin-bottom: 12px; */
  text-decoration: none;
}

.box5nubr > a > i {
  transform: rotate(90deg);
  /* margin-left: -4px;
  margin-right: 2px; */
  margin-top: 10px;
}

.box5btn {
  position: relative;
  padding-left: 15px 15px;
  background-color: transparent;
  border-radius: 40px;
  width: 172px;
  height: 48px;
  left: 90px;
  top: 10px;
  cursor: pointer;
  border: 1px solid #575757;
  cursor: pointer;
}

.box5btn:active {
  box-shadow: 0 0 0 6px rgba(9, 43, 78, 0.7);
}

.box5btn > a > button {
  /* position: absolute; */
  width: auto;
  height: 100%;
  font-family: poopins;
  font-size: 14px;
  color: white;
  padding: 15px 5px;
  border: none;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
}

.box5btn > i {
  /* position: absolute; */
  font-size: 14px;
  background-color: #fff;
  color: #dc3545;
  padding: 7px 8px;
  border-radius: 23px;
  margin-top: 10px;
  border: none;
  right: 20px;
  transform: rotate(-37deg);
}

.box6 {
  /* background-color: chocolate; */
  width: 353px;
  height: 100%;
  margin-left: 27px;
}

.box6 > img {
  width: 350px;
  margin-top: 4.8px;
  border-radius: 6px;
}

.box6 > label {
  font-family: "apercu";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-left: -2px;
}

.box6 > h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
  font-family: "apercu";
  margin-left: -4px;
}

.box6 > p {
  position: relative;
  margin-left: -3px;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 37px; */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 12px;
  text-align: center;
  display: block;
}

.box6nubr {
  position: relative;
  margin-top: -20px;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
}

.box6nubr > a {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 57px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  /* margin-bottom: 12px; */
  text-decoration: none;
}

.box6nubr > a > i {
  transform: rotate(90deg);
  /* margin-left: -4px;
  margin-right: 2px; */
  margin-top: 20px;
}

.box6btn {
  position: relative;
  padding-left: 15px 15px;
  background-color: transparent;
  border-radius: 40px;
  width: 172px;
  height: 48px;
  left: 90px;
  top: 10px;
  cursor: pointer;
  border: 1px solid #575757;
  cursor: pointer;
}

.box6btn:active {
  box-shadow: 0 0 0 6px rgba(9, 43, 78, 0.7);
}

.box6btn > a > button {
  /* position: absolute; */
  width: auto;
  height: 100%;
  font-family: poopins;
  font-size: 14px;
  color: white;
  padding: 15px 5px;
  border: none;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
}

.box6btn > i {
  /* position: absolute; */
  font-size: 14px;
  background-color: #fff;
  color: #dc3545;
  padding: 7px 8px;
  border-radius: 23px;
  margin-top: 10px;
  border: none;
  right: 20px;
  transform: rotate(-37deg);
}

#section4 {
  width: 100%;
  height: 98vh;
  background-color: #0f0f0f;
  position: relative;
  top: -50px;
}

.section4text {
  /* position:absolute; */
  text-align: center;
  padding-top: 45px;
  font-family: "butler";
  font-style: normal;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
  /* background-color:red; */
}

.section4text > span {
  font-family: "futurak";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  /* color: #FFFFFF; */
}

.section4-img-text {
  position: relative;
  width: 100%;
  height: auto;
  /* background-color: aqua; */
  margin-top: 32px;
  display: flex;
}

.section4-img > img {
  width: 660px;
}

.section4-text {
  width: 610px;
  background-color: #0f0f0f;
  margin-left: 19.6px;
}

.section4-text > div {
  /* width: 100%; */
  height: 250px;
  margin-top: 78px;
  margin-left: 10px;
  line-height: 40px;
  /* background-color: red; */
}

.section4-text > div > small {
  font-family: "apercu";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  margin-bottom: 8px;
  display: block;
}

.section4-text > div > h3 {
  font-family: "apercu";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #ffffff;
}

.section4-text > div > h3 > span {
  position: relative;
  font-family: "futurak";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.section4-text > div > div > label {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 70px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}

.section4-text-ph {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -14px;
  margin-left: 16px;
}

.section4-text-ph > a > i {
  transform: rotate(90deg);
  margin-left: -23px;
  margin-top: 1px;
}

.section4-text-ph > a {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 2px;
  text-decoration: none;
}

.section4-btn {
  position: relative;
  padding-left: 15px 15px;
  background-color: #28a745;
  border-radius: 40px;
  width: 174px;
  height: 49px;
  left: 0px;
  top: 50px;
  cursor: pointer;
  /* border: 1px solid #575757; */
  cursor: pointer;
}

.section4-btn:active {
  box-shadow: 0 0 0 6px rgba(9, 43, 78, 0.7);
}

.section4-btn > a > button {
  /* position: absolute; */
  width: auto;
  height: 100%;
  font-family: poopins;
  font-size: 14px;
  color: white;
  padding: 15px 5px;
  border: none;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
}

.section4-btn > a > i {
  /* position: absolute; */
  font-size: 14px;
  background-color: #fff;
  color: #28a745;
  padding: 7px 8px;
  border-radius: 23px;
  margin-top: 10px;
  border: none;
  right: 20px;
  /* transform: rotate(-37deg); */
}

#section5 {
  position: relative;
  top: -50px;
  width: 100%;
  height: 203vh;
  background-color: black;
}

#section5 > h2 {
  text-align: center;
  /* margin-bottom: 8px; */
  font-family: "butler";
  font-style: normal;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
  /* margin-bottom: 8px; */
  padding-top: 60px;
  /* background-color: #28a745; */
}

#section5 > h2 > span {
  font-family: "futurak";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  color: #ffffff;
}

#section5 > h2 > small {
  font-style: normal;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
}

.section5boxesrow1 {
  position: relative;
  display: flex;
  /* background-color: black; */
  top: 30px;
}

.section5box1 {
  background-color: white;
  width: 15.9%;
  height: 182px;
  border-radius: 4px;
  text-align: center;
  padding: 25px 68px;
  margin: 0px 120px;
}

.section5box1 > div {
  /* background-color:yellow ; */
  position: absolute;
  margin-top: 17px;
}

.section5box1 > div > small {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  margin-bottom: 8px;
  display: inline-block;
}

.section5box1 > div > h4 {
  font-family: "FuturaBlack BT";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.section5box1 > div > h4 > span {
  font-weight: 600;
  margin-right: 8px;
  font-size: 24px;
}

.section5box1 > div > p {
  font-family: "FuturaBlack BT";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.section5box2 {
  background-color: white;
  width: 15.9%;
  height: 182px;
  border-radius: 4px;
  text-align: center;
  padding: 25px 68px;
  margin: 0px -90px;
}

.section5box2 > div {
  /* background-color:yellow ; */
  position: absolute;
  margin-top: 17px;
  margin-left: -1px;
}

.section5box2 > div > small {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  margin-bottom: 8px;
  display: inline-block;
}

.section5box2 > div > h4 {
  font-family: "FuturaBlack BT";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.section5box2 > div > h4 > span {
  font-weight: 600;
  margin-right: 8px;
  font-size: 24px;
}

.section5box2 > div > p {
  font-family: "FuturaBlack BT";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.section5box3 {
  background-color: white;
  width: 15.9%;
  height: 182px;
  border-radius: 4px;
  text-align: center;
  padding: 25px 68px;
  margin: 0px 120px;
}

.section5box3 > div {
  /* background-color:yellow ; */
  position: absolute;
  margin-top: 17px;
  margin-left: -1px;
}

.section5box3 > div > small {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ed1c24;
  margin-bottom: 8px;
  display: inline-block;
}

.section5box3 > div > h4 {
  font-family: "FuturaBlack BT";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  color: #000000;
}

.section5box3 > div > h4 > span {
  font-weight: 600;
  margin-right: 8px;
  font-size: 24px;
}

.section5box3 > div > p {
  font-family: "FuturaBlack BT";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.section5boxesrow2 {
  position: relative;
  display: flex;
  /* background-color: black; */
  top: 62px;
}

.section5boxesrow3 {
  position: relative;
  display: flex;
  /* background-color: black; */
  top: 92px;
}

.section5boxesrow4 {
  position: relative;
  display: flex;
  /* background-color: black; */
  top: 122px;
}

#section6 {
  position: relative;
  width: 100%;
  height: 64vh;
  background-color: black;
  top: -50px;
}

.section6text {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
  /* background-color: #28a745; */
}

.section6text > h3 {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: "butler";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  color: white;
}

.imagesrow {
  display: flex;
  width: 100%;
  height: 100%;
}

.imagesrow > a {
  width: 25%;
  padding: 0px 9.9px;
  justify-content: space-evenly;
}

.imagesrow > a > img {
  width: 250px;
  height: auto;
}

#footer {
  position: relative;
  background-color: #0F0F0F;
  top: -50px;
  width: 100%;
  height: 60vh;
}

.bgimg {
  position: absolute;
  /* background-color: purple !important; */
  bottom: -10px;
  left: 30px;
top: 36px;
}

.footertext {
  display: flex;
  width: 84.5%;
  height: 53vh;
  position: absolute;
  /* background-color: #28a745; */
  top: 67px;
  left: 105px;
}

.fbox1 {
  /* background-color: white; */
  width: 32.3%;
}

.fbox1img > img {
  margin: 0px !important;
  padding-bottom: 20px !important;
  width: 38% !important;
}

.fbox1 > p {
  /* background-color: #ffffff; */
  margin: 0px !important;
  padding-bottom: 24px;
  padding-right: 0px;
  text-align: left;
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.7);
}

.fbox1 > ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fbox1 > ol > li {
  display: inline-block;
  margin-right: 10px;
}

.fbox1 > ol > li > a {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.fbox2 {
  position: relative;
  /* background-color: red; */
  width: 213px;
  height: 240px;
  left: 43px;
}

.fbox2text {
  position: absolute;
  /* background-color: blue; */
  left: 1px;
}

.fbox2-h3 {
  position: relative;
  padding-bottom: 24px;
}

.fbox2-h3 > h3 {
  margin-bottom: 0px !important;
  font-family: "Butler";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  letter-spacing: -0.4px;
}

.fbox2-links > ol {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}

.fbox2-links > ol > li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0px 5px;
  padding-bottom: 16px;
}

.fbox2-links > ol > li > a {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.7) !important;
  text-decoration: none;
}




.box3 {
  position: relative !important;
  /* background-color:orange; */
  width: 243px;
  height: 270px;
  left: 44px !important;
}





.fbox4{
  position: relative;
/* background-color:violet; */
width:180px ;
height:220px ;
left: 92px;
}



.footer-social-links {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}




.footer-social-links>a {

display: flex;
    align-items: center;
    margin-right: 8px;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #ED1C24;
    color: #fff;
    border-radius: 50px;
text-decoration: none;
  }


  .footer-social-links>a>i {
  color: #ffffff;
    font-size: 17px;
  }




.footer-imgs>ol>li{
list-style: none;


}


.footerimgli{
margin-top: 10px;


}






.lastone{
  position: absolute;
background-color: #0F0F0F;
  color: rgba(255, 255, 255, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  width: 100%;
height: 47px;
margin-top: -48px;
  /* bottom: -28px; */
}



.lastone-lable1{
 position: relative;
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
/* background-color: #28a745; */
left: 120px;
top: 15px;
}



.lastone-lable1>span{
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
}


.lastone-lable2{
position: relative;
  /* background-color: red; */
float: right;
top: 15px;
right: 120px;
}


.lastone-lable2>span{
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.7);
}




.lastone-lable1>span>span{
  font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
}




.gg{
  font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
text-decoration: none !important;
  }
